[Desktop Entry]
Name=Flowmodoro
Comment=Flowmodoro timer: focus freely, break for 1/5 of focus time
Type=Application
Exec=cosmic-flowmodoro
Icon=accessories-clock-symbolic
Terminal=false
Categories=COSMIC;Utility;
NoDisplay=true
X-CosmicApplet=true
